@model PurplerArtsWeb.Models.SubmissionApplication

<form method="post">
    <div class="container">
        <div class="row p-4 m-4 backgroundWhite border">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                <h2 class="text-info p-2 pb-4">Submit Credit Application</h2>
            </div>
            <div class="col-8 pt-3">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="Name" />
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Descrption"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="Descrption" />
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Email"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="Email" />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                </div>
                  <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="RequestedDate"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="RequestedDate" />
                        <span class="text-danger" asp-validation-for="DOB"></span>
                    </div>
                </div>



                <div class="form-group row">
                    <div class="col-9 offset-3">
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-info form-control">Submit Application</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
